html {
	background-color: #8CBECF;
}
.main {
	background-color: CF9D8C;
	border: 1px solid;
	text-align: center; 
	max-width: 25rem;
	margin: 0 auto;
}

div {
	border: 1px solid;
}


.entry-section	{
	padd
}


.list {
	font-family: 'Shadows Into Light', cursive; 
}

ul {
	text-decoration: none;
	list-style: none;
	padding: 0;
	
}

li {
	
}

.checked-box {
    
	
	
}

.item {
	
	border: 1px dotted;
}


.list {
	padding: 0;
}
.complete {
	text-decoration: line-through;
}

.bottom-clear {
	text-align: right;
	margin-right: 20px;
	margin-top: 
	height: 30px;
}

.check {
	float: left;
}

.delete {
	float: right;
}




















