.main {
	border: 1px solid;
	text-align: center; 
	max-width: 25rem;
	margin: 0 auto;
}

div {
	border: 1px solid;
}


.entry-section	{
	padd
}


.list {
	font-family: 'Shadows Into Light', cursive; 
}

ul {
	text-decoration: none;
	list-style: none;
	display: inline-block;
}

li {
	
}

.checked-box {
    
	
	
}

.items {
	text-align: left;
}

.done {
	text-decoration: line-through;
}

.bottom-clear {
	text-align: right;
	margin-right: 20px;
}